Hello $emailTemplateValue.username, 

Thank you for registering with RPMS. Please follow the link below to activate your account:-

$emailTemplateValue.url

Best Regards
Remote Patient Monitoring System